arrow == 0.10.0
boto3 == 1.4.4
click == 6.7
flask == 0.12.2
flask-cors == 3.0.3
haversine == 0.4.5
matplotlib == 2.0.2
mercantile >= 0.10.0
numpy == 1.13.1
Pillow == 4.1.1
psycopg2 == 2.7.1
# rasterio[s3] >= 1.0a10 --no-binary rasterio
https://github.com/mapbox/rasterio/archive/92d5e81.tar.gz
scipy == 0.19.0
shapely == 1.5.17.post1
