arrow
boto3
click
flask
flask-cors
haversine
matplotlib
mercantile >= 0.10.0
numpy
Pillow
psycopg2
# rasterio[s3] >= 1.0a9 --no-binary rasterio
https://github.com/mojodna/rasterio/archive/warped-vrt-source-georeferencing.tar.gz
scipy
