<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.4/leaflet.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet-hash/0.2.1/leaflet-hash.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<style type="text/css">
body, #map {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEX////MzMw46qqDAAAAD0lEQVQI12P4z4Ad4ZAAAH6/D/Hgw85/AAAAAElFTkSuQmCC);
}
</style>
</head>
<body>
<div id="map"></div>
<script>
var map = L.map("map", {
  scrollWheelZoom: false,
  attributionControl: false,
  keyboardPanOffset: 256
});

L.Control.geocoder({
  defaultMarkGeocode: false,
  position: "topleft"
}).on('markgeocode', function (e) {
  map.fitBounds(e.geocode.bbox);
}).addTo(map);

$.getJSON("{{ tilejson_url }}", function(data) {
  // provide a default location in the hash, not the L.map (since that will
  // load before L.Hash takes control)
  if (!location.hash) {
    if (data.center) {
      location.hash = "#" + data.center.reverse().join("/");
    } else {
      location.hash = "#10/18.5486/-72.3148";
    }
  }

  var options = {
    minZoom: data.minzoom || 0,
    maxZoom: data.maxzoom || Infinity
  };

  var hash = new L.Hash(map);
  var provider = data.tiles.pop();

  function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results == null ? null : decodeURIComponent(results[1].replace(/\+/g, " "));
  }

  var mediaQuery = "(-webkit-min-device-pixel-ratio: 1.5),\
                    (min--moz-device-pixel-ratio: 1.5),\
                    (-o-min-device-pixel-ratio: 3/2),\
                    (min-resolution: 1.5dppx)";

  if (getParameterByName("retina") !== "false" &&
      (getParameterByName("retina") ||
       window.devicePixelRatio > 1 ||
       (window.matchMedia && window.matchMedia(mediaQuery).matches))) {
    var uri = new URL(window.location.protocol + provider);

    // inject scale into the path component
    var path = decodeURIComponent(uri.pathname).replace(/{y}/, "{y}@2x");

    // workaround for braces becoming automatically encoded when part of a URL object
    provider = uri.protocol + "//" + uri.host + path + uri.search;
  }

  L.tileLayer(provider, options).addTo(map);


  L.tileLayer(provider, options).addTo(map);

  var context = getParameterByName("context");

  if (context != null && context !== "false") {
    L.tileLayer('http://{s}.tile.stamen.com/toner-hybrid/{z}/{x}/{y}{r}.png').addTo(map);
  }
});
</script>
</body>
</html>
